@media screen and (max-width: 792px) {
  .footer-grids {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 320px) {
  .container2 div {
    flex: 100%; } }

@media screen and (max-width: 768px) {
  .carrusel {
    max-width: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../img/backg.jpeg"); }

header .navbar .container-fluid .imagenlogo {
  width: 10%;
  border-radius: 30rem; }

main .container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  main .container .titulo {
    flex-wrap: wrap;
    margin: 0;
    font-family: roboto;
    font-size: 1.5rem;
    color: #955e2e;
    display: flex;
    justify-content: center;
    align-items: center; }
  main .container h1 {
    color: #955e2e; }

main .carrusel {
  width: 100%;
  padding: 5rem; }

main .principal {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  main .principal p {
    flex: 1;
    margin-right: 10px;
    color: black; }
  main .principal img {
    width: 50%; }

main .container2 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  main .container2 div {
    text-align: center;
    flex: 1 0 45%;
    margin: 1rem; }
    main .container2 div h2 {
      margin-bottom: 10px;
      color: #955e2e; }
    main .container2 div img {
      max-width: 100%;
      height: auto; }

main .animaciones {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: cover;
  display: inline-block;
  padding-top: 20px;
  transition: all 2s; }
  main .animaciones:hover {
    transform: scale(1.1); }

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; }
  form .formulario {
    margin-bottom: 20px;
    padding: 20px;
    border: 10px solid #955e2e;
    border-radius: 10px; }
    form .formulario label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold; }
    form .formulario textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px; }
  form button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #955e2e;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    font-family: "Fjalla One", sans-serif;
    background-color: #955e2e;
    color: white; }
    form button:hover {
      background: white;
      color: black; }

.footer-grids {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  text-align: center; }
  .footer-grids div {
    border: 1px solid #ccc;
    padding: 20px; }
    .footer-grids div img {
      width: 50px;
      height: 50px; }
